.todoform{
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.moderinput{
    border: none;
    width: 100%;
    display: block;
    color: black;
    font-size: 16px;
}

.moderinput:focus{
    outline: none;
}


.moderbutton{
    display: inline-block;
    border: none;
    border-radius: 4px !important;
    background-color: #f7ca18;
    padding: 12px 20px;
    color: #ffffff;
    cursor: pointer;
}

.inputConytaire{
    display: flex;
}